In [1]:
import pandas as pd
import numpy as np

In [2]:
rows = open("03.txt", "r").read().split("\n")
rows[:10]

['#1 @ 167,777: 23x12',
 '#2 @ 253,106: 10x25',
 '#3 @ 104,622: 11x25',
 '#4 @ 267,61: 14x16',
 '#5 @ 829,831: 19x10',
 '#6 @ 886,374: 22x12',
 '#7 @ 129,812: 18x17',
 '#8 @ 972,677: 14x17',
 '#9 @ 123,249: 12x14',
 '#10 @ 669,330: 11x21']

In [3]:
import re

pattern = re.compile(r"^#(\d+) @ (\d+),(\d+): (\d+)x(\d+)")

In [4]:
data = ((int(x) for x in pattern.match(y).groups()) for y in rows)

In [5]:
df = pd.DataFrame(data, columns=("id", "x", "y", "dx", "dy"))
df["x_end"] = df.x + df.dx
df["y_end"] = df.y + df.dy
df.tail()

        id    x    y  dx  dy  x_end  y_end
1322  1323  399  454  18  15    417    469
1323  1324  317   23  29  15    346     38
1324  1325  306  668  17  19    323    687
1325  1326  292  392  22  26    314    418
1326  1327  127  459  22  19    149    478

In [6]:
counts = np.zeros([max(df.x_end) + 1, max(df.y_end) + 1])

In [7]:
for row in df.itertuples():
    counts[row.x : row.x_end, row.y : row.y_end] += 1

In [8]:
np.sum(counts > 1)

111935

# Part II

In [9]:
for row in df.itertuples():
    if np.max(counts[row.x : row.x_end, row.y : row.y_end]) == 1:
        print(row.id)

650